@font-face {
  font-family: 'UTM Seagull';
  src: url('../public/fonts/UTM-SeagullBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.slick-dots li{
  margin: 0 20px !important;
}
.MuiBox-root.css-166rfdl {
  margin-left: 20px !important;
}


body{
background: url("../public/img/bg-body-left2.png") top left no-repeat, url("../public/img/bg-body-re.png") 0 0 repeat;
}
.slick-next{
  background-color: #000 !important;
  border-radius: 50% !important;
}
.slick-prev{
  background-color: #000 !important;
  border-radius: 50% !important;
}

.MuiButtonBase-root .MuiAccordionSummary-root .MuiAccordionSummary-gutters .css-1t24edw-MuiButtonBase-root-MuiAccordionSummary-root{
  padding-left: 0px !important;
}
